[submodule "vendor/LBYoutubeView"]
	path = vendor/LBYoutubeView
	url = https://github.com/larcus94/LBYouTubeView
[submodule "vendor/iCarousel"]
	path = vendor/iCarousel
	url = https://github.com/nicklockwood/iCarousel.git
